button {
    background-color: rgba(0, 255, 255, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

button:focus {
    outline: none;
    border: 2px solid black;
    border-radius: 50px;
}               

.fa-circle-chevron-right, .fa-circle-chevron-down {
    font-size: 2rem;
    padding: 0.2rem;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.5s;
}


.fa-circle-arrow-up {
    font-size: 2rem;
    padding: 0.2rem;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0);
    position: fixed;
    bottom: 10%;
    right: 3.33%;
    color: black;
    transition: all 0.5s;
}

.fa-circle-chevron-right:hover, .fa-circle-arrow-up:hover, .fa-circle-chevron-down:hover, .fa-fa-circle-chevron-right:focus, .fa-circle-arrow-up:focus, .fa-circle-chevron-down:focus {
    border: 2px solid black;
    padding: 0.2rem;
    border-radius: 50px;
}
